{% extends "base.html" %}

{% block content %}
  <h1>Model: {{ car.model }}</h1>

  <p><strong>Manufacturer:</strong>
    {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <h2>
    Drivers
    {% if user in car.drivers.all %}
      <a class="btn btn-danger float-right"
         href="{% url 'taxi:toggle-car-assign' pk=car.id %}">
        Delete me from this car
      </a>
    {% else %}
      <a class="btn btn-success float-right"
         href="{% url 'taxi:toggle-car-assign' pk=car.id %}">
        Assign me to this car
      </a>
    {% endif %}
  </h2>
  <hr>

  {% for driver in car.drivers.all %}
    <p><strong>Username:</strong> {{ driver.username }}</p>
    <p><strong>Full name:</strong>
      {{ driver.first_name }} {{ driver.last_name }}</p>
    <p><strong>License number:</strong> {{ driver.license_number }}</p>
    <hr>
  {% empty %}
    <p>No drivers assigned.</p>
  {% endfor %}

  <a class="btn btn-secondary"
     href="{% url 'taxi:car-update' pk=car.id %}">Update</a>
  <a class="btn btn-danger"
     href="{% url 'taxi:car-delete' pk=car.id %}">Delete</a>
{% endblock %}
